{% extends "base_auth.html" %}

{% block content_auth %}
<div class="card-content">
  <p>
 
உங்கள் மின்னஞ்சல் முகவரியுடன் தொடர்புடைய கணக்கு இருந்தால், உங்கள் கடவுச்சொல்லை மீட்டமைப்பதற்கான வழிமுறைகளை நாங்கள் உங்களுக்கு அனுப்பியுள்ளோம்.
நீங்கள் அதை விரைவாகப் பெற வேண்டும்.
  </p>
  <p>
    நீங்கள் எங்கள் மின்னஞ்சலைப் பெறவில்லை என்றால், நீங்கள் பதிவுசெய்த முகவரியை உள்ளிட்டுள்ளீர்களா என்பதைச் சரிபார்த்து, ஸ்பேம் கோப்புறையில் பார்க்கவும்.
  </p>
</div>
<div class="field" style="margin-top:30px;text-align:center;">
  <span class="checkbox">
    <a href="{% url 'login' %}">உள்நுழைய    </a>
  </span>
</div>
{% endblock %}
