{% extends "base_auth.html" %}

{% load utils_templating %}
{% block content_auth %}
{% if allow_signup %}
<div class="card-header is-shadowless">
  <p>திட்டத்திற்கு பங்களிக்க பதிவு செய்ய வேண்டியது அவசியம். இது உள்ளிடப்பட்ட குறிப்புகளின் நேர்மையையும் தரத்தையும் உறுதி செய்கிறது.உங்கள் மின்னஞ்சலில் நாங்கள் எதையும் செய்ய மாட்டோம் T & C களைப் பார்க்கவும்(<a href="https://etalab.github.io/piaf-site/cgu.html"></a>).
  </p>
</div>
<div class="card-content">
  <!-- <div style="text-align:center;font-size:1.5em">
    <h2>Sign up</h2>
  </div> -->
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="field">
      <label class="label">{{ field.label_tag }}</label>
      <div class="control">
        {{ field|addcss:'input'  }}
        {% if field.help_text %}
        <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

    {% endfor %}
    <div style="text-align:center">
      <button type="submit"
        class=" relative inline-flex uppercase btn--white text-red rounded -ml-4 lg:-ml-6 border border-red px-4 lg:px-6 py-2">
        <span class="btn-overlay--red"></span>
        <span class="relative">பதிவு</span>
      </button>
    </div>
    <div class="field">
      <span class="checkbox" style="margin-top:30px">
        ஏற்கனவே ஒரு கணக்கு ? <a href="{% url 'login' %}"> உள்நுழைய </a>
      </span>
    </div>
  </form>
</div>

{% else %}
<div class="card-content">
  <div>
    நீங்களே பதிவு செய்ய முடியாது.உங்கள் பயனர்பெயர் மற்றும் கடவுச்சொல்லைப் பெற நீங்கள் ஒரு பியாஃப் உறுப்பினரைத் தொடர்பு கொள்ள வேண்டும்!piaf@data.gouv.fr
  </div>
</div>
{% endif %}
{% endblock %}
