{% extends "base_auth.html" %}

{% block content_auth %}
<div class="card-content">
  <p>
    உங்கள் ஈடுபாட்டிற்கு நன்றி! வெற்றிக்கு உங்கள் பங்கு விலைமதிப்பற்றது. எங்களிடம் நீங்கள் இருக்கிறீர்கள் <span>மின்னஞ்சல் மூலம் உங்கள் கணக்கை செயல்படுத்த அறிவுறுத்தல்களை அனுப்பியது</span>.
  </p>
  <br>
  <p>
    நீங்கள் எங்கள் மின்னஞ்சலைப் பெறவில்லை எனில், உங்கள் ஸ்பேம் கோப்புறையில் பார்த்து, நீங்கள் சரியான மின்னஞ்சல் முகவரியை உள்ளிட்டுள்ளீர்களா என்பதை சரிபார்க்கலாம்.
  </p>
  <br>
  <a href="https://piaf.etalab.studio/" class="button is-primary is-block is-middle">திரும்ப</a>
</div>
{% endblock %}
