{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

<section class="hero container has-text-centered">
  <div class="columns hero-body">
    <div class="column is-4 is-offset-4">
      <div class="box has-text-left">
        {% if form.errors %}
        <p style="padding-bottom:20px">அறியப்படாத பயனர்பெயர் அல்லது கடவுச்சொல்.</p>
        {% endif %} {% if next %} {% if user.is_authenticated %}
        <p style="padding-bottom:20px">இந்தப் பக்கத்திற்கு உங்களுக்கு அணுகல் இல்லை. அதை அணுக தயவுசெய்து உள்நுழைக.</p>
        {% else %}
        <p style="padding-bottom:20px">தயவுசெய்து உள்நுழைக
        </p>
        {% endif %} {% endif %}

        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="field ">
            <label class="label">பயனர்பெயர்</label>
            <div class="control has-icons-left has-icons-right">
              {{ form.username|add_class:"input" }}
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">கடவுச்சொல்</label>
            <div class="control has-icons-left has-icons-right">
              {{ form.password|add_class:"input"}}
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
          </div>
          <!-- <div class="field">
            <label class="checkbox">
              <input type="checkbox"> Remember me
            </label>
          </div> -->
          <input class="button is-block is-primary is-middle is-fullwidth" type="submit" value="Se connecter" />
          {% if allow_signup %}
          <div class="field">
            <span class="checkbox" style="margin-top:10px">
              கணக்கு இல்லையா? <a href="{% url 'signup' %}"> Inscription </a>
            </span>
          </div>
          {% endif %}
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
